body {
    background-color: #FFFFFF;
    min-width: 607px;
	min-height: 381px;
  }

div {
    padding: 3px;
}

button {
    white-space: nowrap;
    padding: 0.35em 1.2em;
    border: 0.1em solid #0000007e;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Allerta';
    font-weight: bold;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    background-color: #ccccff;
}
button:hover{
    color:#FFFFFF;
    background-color: rgb(47, 0, 100);
}

.popup-center {
    text-align: center;
    padding: 10px;
}

p {
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
    font-family: 'Allerta';
    min-width: 300px;
    text-align: center;
}

#daSummary {
	margin: 0 0 0 25px;
}

#daSummary span {
	display: block;
	float: left;
}

#daSummary span#right {
	width: 30%;
	text-align: right;
}

#daSummary span#right .month::before {
    display: inline-block;
    content: "";
    width: 1rem;
    margin: 0 0.6rem;
    transform: translateY(-0.15rem);
}

#daSummary span#right #this:before {
    border-top: .3rem solid #6772CD;
}

#daSummary span#right #last:before {
    border-top: .3rem solid #E3E2E7;
}

#daSummary span#right #this {
	float: right !important;
}

#daSummary span#right #last {
	float: right !important;
}

#daSummary span#right #last {
	margin-right: 5px;
}

#daSummary span#left {
	width: 70%;
	text-align: left;
}

/* Loading Modal */
#modal.loading {
    margin: 0 auto;
    z-index: 1000;
    position: relative;
    top: 155px;
    border-top: 10px solid rgb(47, 0, 100);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
/* D3.js */
svg {
    font-family: Sans-Serif, Arial;
}
.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

g line {
  stroke: #FFF;
  stroke-opacity: 0;
}

g path {
  stroke-width: 0;
}

g.yaxis g text {
	display: none;
}

g.xaxis g text {
	color: #E3E2E7;
}

.gridline {
	stroke: #E3E2E7;
	stroke-opacity: 1;
}
